/* Type Selectors ------------------ */

*{
    box-sizing: border-box;
}
body {
  color: #000;
  margin: 0;
  font-size: 130%;
    font: normal 1em/1.5, Helvetica, arial, sans-serif;;
}

h1 {  
  font-size: 90px;
  color: white;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 0px px 0 #222;
}

h2 {
  font-size: 55px;
    text-align: center;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 .2em;
}

h3 {
  font-size: 20px;
  color: #48525c;
    line-height: 1.2;
    margin-bottom: 1.7em;
}

img {
    
    max-width: 100%;
    margin-bottom: 20px;
   
}

ul ol {
    
    display: inline-block;
    padding-left: 0;
    margin: 30px 0;
    list-style: none;
   }

li{
    margin-bottom: 10px;
    list-style: none;
        
}


/* Pseudo-classes ------------------ */

a:link {
  color: rgb(144, 238, 144);
    text-decoration: none;
    
}

a:visited {
  color:  lightgreen;
    
}

a:hover{
    color: rgba(255, 169, 73);
}

a:active {
  color: lightgreen;
   
}

/* ID Selectors -------------------- */

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px #000;
}

.callout {
    font-size: 1.25em;
    border-bottom: 3px solid;
    padding: 0 90px 3px;
    margin:0 auto;
    display: inline-block;
    text-align: center;
    
}
/* Class Selectors ----------------- */

.main-header {
  background: #ffa949 url('../img/healthphoto2.jpeg') no-repeat center;
    height: 980px;
    padding: 100px;
    background-size: cover;
    
}

.intro {
    font-size: 1.25em;
    line-height: 1.6;
}
.title {
  color: white;
  font-size: 26px;
}

.primary-content, .secondary-content {
    margin: auto;
width 900px;
    padding-left: 50px;
    padding-right: 50px;
}

primary-content,
main-header{
    text-align: center;
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content{
    padding-top: 15px;
    padding-bottom: 45px;
}

.secondary-content{
    padding-top: 60px;
    padding-bottom: 70px;
    border-bottom: 2px solid #dfe2e6;
}

.t-border {
  border-top: 2px solid lightgrey; /* Top border styles */
}

nav {
 text-align: center;
 padding: 8px 0;
 margin: 20px 0 0;
    color: #000;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 25px;
    color: #000;
}

nav li {
  display: inline;
    list-style: none;
    padding-right: 30px;
    color: #000;
    text-align: center;
   
}



.journey {
    color: white;
    background: #434a52 url('../img/healthphoto.jpeg') no-repeat center;
    background-size: cover;
    /*
    padding-top: 100px;
    padding-right: 120px;
    padding-bottom: 100px;
    padding-left: 120px;
    */
    padding: 100px 120px 100px 120px;
    /*
    margin-top: 105px;
    margin-right: 0px;
    margin-left: 60px;
    margin-left: 0;
    */
    
    border-width: 10px;
    border-top: 2px solid #98FB98;
    margin: 105px 0 60px 0;
    box-shadow: inset 0 0 50px 10px rgba (0,0,0, 1);
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 10%;
    
}

.choose  {
  width: 25%;
  float: left;
  margin: 5px;
  padding: 10px;
    display: block;
}

.tips {
  width: 25%;
  float: left;
  margin: 5px;
  padding: 10px;
    display: block;
}

img {
  display: block;
  margin: auto;
    height: 300px;
}

.choose,
.tips {
    width: 46.5%;
}

.choose{
    float:left;
    text-align: justify;
}

.tips {
    float:right;
    text-align: justify;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}
}